* {
  margin: 0;
  padding: 0;
}

.library {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 30px;

  margin: 20px;
}

.library > .book {
  text-align: center;
  border: 1px solid black;
}

.book > .title{
  font-weight: 700;
}
